@page
@model IndexModel
@{
    ViewData["Title"] = "Demo Todo app";
}

<div class="text-center">
    <h1 class="display-4">Demo Todo app</h1>
    <h2><a class=" btn btn-primary text-decoration-none" asp-page="/Tasks_Index">Create a Task</a></h2>
</div>
